In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('data/2021.05.11 KA3 mobilities eligible finalised started in 2014-2019.csv',sep=';')

In [4]:
chosen_cols = ['Field of Education', 'Participant Nationality', 'Education Level',
        'Participant Gender', 'Participant Age',
        'Sending Country Code', 'Sending City', 'Receiving Country Code',
        'Receiving City', 'Participants']

data_filtered = data[chosen_cols]
data_filtered.head()

,Field of Education,Participant Nationality,Education Level,Participant Gender,Participant Age,Sending Country Code,Sending City,Receiving Country Code,Receiving City,Participants
0,? Unknown ?,AT,??? - ? Unknown ?,Female,13,AT,Dornbirn,AT,Dornbirn,2
1,? Unknown ?,AT,??? - ? Unknown ?,Female,14,AT,Dornbirn,AT,Dornbirn,3
2,? Unknown ?,AT,??? - ? Unknown ?,Female,15,AT,Dornbirn,AT,Dornbirn,3
3,? Unknown ?,AT,??? - ? Unknown ?,Male,14,AT,Dornbirn,AT,Dornbirn,4
4,? Unknown ?,AT,??? - ? Unknown ?,Male,15,AT,Dornbirn,AT,Dornbirn,2

## Where are the people travelling to??

In [13]:
destination = data_filtered[['Receiving Country Code','Receiving City']]
destination['Receiving City'] = destination['Receiving City'].str.lower()

destination.value_counts().to_csv('my-idyll-post/data/destination.csv')
display(destination.value_counts(), destination.columns)

<ipython-input-13-293b9d9ed444>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  destination['Receiving City'] = destination['Receiving City'].str.lower()

Receiving Country Code  Receiving City
UK                      london              3241
DE                      berlin              3149
HU                      budapest            2272
IE                      dublin              2201
FR                      paris               2080
                                            ...
SK                      považsá bystrica       1
DE                      münchenberndorf        1
SK                      nová bystrica          1
PL                      cz�sochowa             1
LT                      anykšiai               1
Length: 2352, dtype: int64

Index(['Receiving Country Code', 'Receiving City'], dtype='object')

## Where are the people travelling from?

In [18]:
source = data_filtered[['Sending Country Code','Sending City']]

display(source.value_counts())

Sending Country Code  Sending City
DE                    Berlin              2316
HU                    Budapest            1979
UK                    London              1575
IE                    Dublin              1550
SK                    PRIEVIDZA           1505
                                          ...
IE                    Navan, Co Meathh       1
                      Navan Meath            1
DE                    Gottingen              1
                      Gr?bingen              1
LV                    Jurmala                1
Length: 14638, dtype: int64

## What's the gender of people travelling?

In [19]:
gender = data_filtered[['Participant Gender']]

display(gender.value_counts())

Participant Gender
Female                88452
Male                  75602
Undefined               581
dtype: int64